{% extends "_layout" %}

{% block content %}

	<div class="row about">
		<div class="three columns">&nbsp;</div>
		{% for entry in craft.entries.section('objects').limit(1).find() %}
		<div class="eight columns" data-aos="fade" data-aos-delay="100" data-aos-duration="200" style="color: {{ entry.objectColour }};">
		{% endfor %}
			{{ entry.termsConditions }}
		</div>
		<div class="one columns">&nbsp;</div>
	</div>

{% endblock %}
