<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
<head>
	<meta charset="utf-8" />
	<title>{% if title is defined %}{{ title }} - {% endif %}{{ siteName }}</title>
	<link rel="home" href="{{ siteUrl }}" />
	<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<link rel="shortcut icon" href="/favicon.ico?v=2" >

	<meta name="description" content="asmblg"/>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

	{% includeCssFile "/css/site.min.css" %}
	{% includeJsFile "/js/main.min.js" %}

</head>

<body style="border-color:{{ display.colourway }}; background:{{ display.background }};">
	<div id="container">
		<header id="header">
			<h1><a href="{{ siteUrl }}">{{ siteName }}</a></h1>

			{% for entry in craft.entries.section('objects').limit(1).find() %}
			<div id="menuBtn">
				<svg width="50px" height="10px" viewBox="207 293 50 10" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
				    <defs></defs>
				    <circle id="Oval" stroke="none" fill="{{ entry.objectColour }}" fill-rule="evenodd" cx="212" cy="298" r="4"></circle>
				    <circle id="Oval" stroke="none" fill="{{ entry.objectColour }}" fill-rule="evenodd" cx="232" cy="298" r="4"></circle>
				    <circle id="Oval" stroke="none" fill="{{ entry.objectColour }}" fill-rule="evenodd" cx="252" cy="298" r="4"></circle>
				</svg>
			</div>

			<nav id="myMenu">
				<ul>
					{% for block in navigation.navigation %}
					<li><a href="{{ block.items.first().url }}" style="color: {{ entry.objectColour }}">{{ block.items.first() }}</a></li>
					{% endfor %}
					<li><a href="{{ navigation.instagramLink }}" target="_blank" rel="noreferrer noopener" style="color: {{ entry.objectColour }}">instagram</a></li>
				</ul>
			</nav>
			{% endfor %}

			<script>
				$(function() {
				  var menuVisible = false;
				  $('#menuBtn').click(function() {
				    if (menuVisible) {
				      $('#myMenu').css({'display':'none'});
				      menuVisible = false;
				      return;
				    }
				    $('#myMenu').css({'display':'block'});
				    menuVisible = true;
				  });
				  $('#myMenu').click(function() {
				    $(this).css({'display':'none'});
				    menuVisible = false;
				  });
				});
			</script>

		</header>

		<div class="logo">
			<a href="/"><img src="/img/asmblg.png" alt="asmblg" title="asmblg" width="60px"></a>
		</div>

		<main id="content" role="main">
			{% block content %}
			{% endblock %}
		</main>
	</div>

	<footer id="footer">
		{% for entry in craft.entries.section('objects').limit(1).find() %}
		<a href="/" style="color: {{ entry.objectColour }};">asmblg.co</a>
		{% endfor %}
	</footer>
</body>
{% block analytics %}
    {% hook 'iaSendPageView' %}
{% endblock %}
<script>
	AOS.init();
</script>
</html>
