<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
<head>
	<meta charset="utf-8" />
	<title>{% if title is defined %}{{ title }} - {% endif %}{{ siteName }}</title>
	<link rel="home" href="{{ siteUrl }}" />

	<link rel="shortcut icon" href="/favicon.ico" >
	<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

	<meta name="description" content="asmblg">

	{% includeCssFile "/css/site.min.css" %}

</head>

<body class="soon" style="border-color:{{ display.colourway }}; background:{{ display.background }};">
	<div id="container">
		<div class="logo">
			<a href="/"><img src="/img/asmblg.png" alt="asmblg" title="asmblg" width="60px"></a>
		</div>
	</div>
	<footer id="footer">
		{% for entry in craft.entries.section('objects').limit(1).find() %}
		<a href="/" style="color: {{ entry.objectColour }};">asmblg.co</a>
		{% endfor %}
	</footer>
{% block analytics %}
    {% hook 'iaSendPageView' %}
{% endblock %}
</body>
</html>
