{% extends "_layout" %}

{% block content %}
		{% for entry in craft.entries.section('objects').limit(1).find() %}
			{% if entry.unavailableAvailable %}
			{% for asset in entry.objectImage %}

			{% set videos = entry.objectVideo.first() ?? null %}
			{% set image = entry.objectImage.first() ?? null %}

			{# with an image:  #}
				{% if not videos and image %}
					<div class="object" style="background: url('{{ image.url }}') no-repeat; z-index: 111"></div>
				{% endif %}


				{#
					with a video:
					on anything smaller than desktop, no video will be shown, and the bg image on full-bg-img will show
					this can be the same image as the video bg
				#}

				{% if videos %}
					<div class="object" style="background: url({{ image.url }})">
						{#
						we have style bg img so that the poster of the video is the same size as the video
						the image will need to be the first frame of the video
						#}
						{% if videos %}
							<video loop autoplay preload class="bg-video-cover" style="background-image:url(../../assets/img/samples/hero-banner.jpg)" media="screen and (min-width:992px)">

								{% set mp4 = videos.mp4Version.first() %}
								{% set ogv = videos.ogvVersion.first() %}
								{% set webm = videos.webmVersion.first() %}


								{# MP4 Version #}
								{% if mp4 %}
									<source src="{{ mp4.url }}" type="video/mp4">
								{% endif %}

								{# OGV Version #}
								{% if ogv %}
									<source src="{{ ogv.url }}" type="video/ogv">

								{% endif %}

								{# WebM Version #}
								{% if webm %}
									<source src="{{ webm.url }}" type="video/webm">
								{% endif %}

							</video>
						{% endif %}
					</div>
				{% endif %}

				<div class="object" data-aos="fade-zoom-in" data-aos-delay="100" data-aos-duration="600" style="background: url('{{ asset.url }}') no-repeat; z-index: 111">
			{% endfor %}
					<div class="info" data-aos="fade" data-aos-delay="1800" data-aos-duration="400" style="color: {{ entry.objectColour }};">
						<h2>{{ entry.title }}</h2>
						{{ entry.objectInformation }}
						<label for="emailToggle" style="color: {{ entry.objectColour }}">i'll take it</label>
						<input id="emailToggle" type="checkbox" />
						{% macro errorList(errors) %}
						    {% if errors %}
						        <ul class="errors">
						            {% for error in errors %}
						                <li>{{ error }}</li>
						            {% endfor %}
						        </ul>
						    {% endif %}
						{% endmacro %}

						{% from _self import errorList %}
						<form method="post" action="" accept-charset="UTF-8" id="asmblg">
						    {{ getCsrfInput() }}
						    <input type="hidden" name="action" value="contactForm/sendMessage">
						    <input type="hidden" name="redirect" value="/acquire">

						    <input id="fromEmail" type="text" name="fromEmail" value="{% if message is defined %}{{ message.fromEmail }}{% endif %}" placeholder="email"><br>
						    {{ message is defined and message ? errorList(message.getErrors('fromEmail')) }}

						    <textarea style="display: none;" rows="10" cols="40" id="message" name="message">Acquirement request for the {{ entry.title }}. Reply to this email to contact the acquirer.</textarea>
						    {{ message is defined and message ? errorList(message.getErrors('message')) }}

						    <input type="submit" value="aquire">
						</form>
					  	{% set formCss %}
					  	label[for=emailToggle]:hover{
					  		border-bottom: 1px solid {{ entry.objectColour }};
					  	}
						input#fromEmail {
						    border-bottom: 1px solid {{ entry.objectColour }};
						    text-align: right;
						}
						::-webkit-input-placeholder {
						   color: {{ entry.objectColour }};
						   transition: color ease 0.4s;
						}
						:-moz-placeholder {
						   color: {{ entry.objectColour }};
						   transition: color ease 0.4s;
						}
						::-moz-placeholder {
						   color: {{ entry.objectColour }};
						   transition: color ease 0.4s;
						}
						:-ms-input-placeholder {
						   color: {{ entry.objectColour }};
						   transition: color ease 0.4s;
						}
						input:focus::-webkit-input-placeholder {
							color: transparent;
						}
						input:focus:-moz-placeholder {
							color: transparent;
						}
						input:focus::-moz-placeholder {
							color: transparent;
						}
						input:focus:-ms-input-placeholder {
							color: transparent;
						}
						{% endset %}
						{% includeCss formCss first %}
					</div>
				</div>
			{% else %}
			{% for asset in entry.objectImage %}
				<div class="object" style="background: url('{{ asset.url }}') no-repeat; -webkit-filter: blur(50px); -moz-filter: blur(50px); -o-filter: blur(50px); -ms-filter: blur(50px); filter: blur(50px); z-index: -111">
			{% endfor %}
				</div>
					<div class="sold">
						Object sold
					</div>
			{% endif %}
		{% endfor %}
{% endblock %}
